Q1 Explain with an example each when to use a for loop and a while loop.

we use for loop when we now the number of iteration for elements in the data structure

and we use while loop when we don;t know the number of iteration for elements in the data structure

In [15]:
## for loop example
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
## for while loop
i=0
while(i<10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

Q2 Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [1]:
sum=0
product=1
for i in range(1,10+1):
    print(i)
    sum=sum+i
    product=product*i
print("sum is :",sum)
print("product is :",product)

1
2
3
4
5
6
7
8
9
10
sum is : 55
product is : 3628800

In [2]:
## using while loop
sum = 0
product=1
i = 1
while i <= 10:
    sum = sum + i
    product=product*i
    i = i + 1
    

print("The sum is:", sum)
print("The product is :", product)

The sum is: 55
The product is : 3628800

Q3 Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.

In [3]:
units=int(input("enter the unit"))
bill = 0
if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = (100 * 4.5) + ((units-100) * 6)
elif units <= 300:
    bill = (100 * 4.5) + (100 * 6) + ((units-200) * 10)
else:
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units-300) * 20)
    


print("Total electricity bill:",bill)

enter the unit 310

Total electricity bill: 2250.0

Q4 Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [5]:
## using for loop

l=[]
l_cube=[]
for i in range(1,100+1):
    # print(i)
    l.append(i)
print(l)

print("The 100 elements are inserted in list\n")
for j in l:
    j=j**3
    # print(j)
    l_cube.append(j)
print(l_cube)

print("here is the final list of 1-100 numbers of there cubes and which can be divisible by 4 or 5\n")
l_new_cube_list=[]
for a in l_cube:
    if a%4==0 or a%5==0:
        l_new_cube_list.append(a)
print("the list numbers are:\n",l_new_cube_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
The 100 elements are inserted in list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
here is the final list of 1-100 numbers of there cubes and which can be divisible by 4 or 5

the list numbers are:
 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
## using while loop
l=[]
l2=[]
i=0
j=0
k=0
while i<100:
    i=i+1
    print(i)
    l.append(i)
print(l)
# print(len(l))

print("the above list is stored from 1 to 100\n")

print("the below list is cube of the above one\n")

while j < len(l):
     j=j+1
    #  a=print(j**3)
    
    
    
     l2.append(j**3)
     
     
print(l2)

print(len(l2))
print("the condition for 4 and 5\n")
l3=[]

print("\n")

while k <len(l2):
    k=k+1
    a=k**3
    # print(a)
    if a%4==0 or a%5==0:
        l3.append(a)
        
print("the final list is: \n")
print(l3)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
the above list is stored from 1 to 100

the below list is cube of the above one

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
100
the condition for 4 and 5



the final list is:

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5 Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [11]:
vowels=("aeiouAEIOU")
count=0
string= "I want to become a data scientist"
for i in string:
    print(i,'\n') 
    if i in vowels:
        count=count+1 
        

print("Total number of vowels are: \n",count)

I



w

a

n

t



t

o



b

e

c

o

m

e



a



d

a

t

a



s

c

i

e

n

t

i

s

t

Total number of vowels are:
 12